body { 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

body {
    background: url("a.webp") no-repeat center center fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
}